# Auto detect text files and perform LF normalization
* text=auto

# Scripts should be executable
scripts/*.sh text eol=lf
scripts/*.js text eol=lf

# Source code
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf

# Config files
.husky/* text eol=lf
